[user]
	name = Kenta Kozuka
	email = kenta.kozuka@gmail.com
	signingkey = /Users/s01952/.ssh/id_ed25519
[color]
	diff = auto
	status = auto
	branch = auto
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[magithub]
	online = false
[magithub "status"]
	includeStatusHeader = false
	includePullRequestsSection = false
	includeIssuesSection = false
[safe]
	directory = *
[gpg]
	format = ssh
[gpg "ssh"]
	allowedSignersFile = ~/.ssh/allowed_signers
[commit]
	gpgsign = true
